/* *********************************** */
/* HEADER */
/* *********************************** */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.6rem;
    padding: 0 4.8rem;
    background-color: hsl(27, 83%, 95%);
}

.logo {
    height: 2.2rem;
}

/* *********************************** */
/* NAVIGATION */
/* *********************************** */
.main-nav-list {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    color: hsl(var(--clr-base-dk));
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: hsl(var(--clr-primary-dk));
}

.nav-cta:link,
.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    background-color: hsl(var(--clr-primary));
    border-radius: 9px;
    color: hsl(var(--clr-ntrl-max));
}

.nav-cta:hover,
.nav-cta:active {
    background-color: hsl(var(--clr-primary-dk));
}

/* *********************************** */
/* Hero */
/* *********************************** */
.section-hero {
    padding: 4.8rem 3.2rem 9.6rem;
    background-color: hsl(27, 83%, 95%);
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9.6rem;
    max-width: 130rem;
    margin: 0 auto;
}

.heading-primary {
    margin-bottom: 3.2rem;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.5px;
    color: hsl(var(--clr-base-dk));
}

.hero-description {
    margin-bottom: 4.8rem;
    font-size: 2rem;
    line-height: 1.6;
}

.delivered-meals {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.delivered-imgs {
    display: flex;
}

.delivered-imgs img {
    width: 4.8rem;
    aspect-ratio: 1;
    margin-right: -1.6rem;
    border-radius: 50%;
    border: 3px solid hsl(27, 83%, 95%);
}

.delivered-imgs img:last-child {
    margin: 0;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span {
    font-weight: 700;
    color: hsl(var(--clr-primary-dk));
}
