/* *********************************** */
/* HEADER */
/* *********************************** */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.6rem;
    padding: 0 4.8rem;
    background-color: hsl(27, 83%, 95%);
}

.logo {
    height: 2.2rem;
}

/* *********************************** */
/* NAVIGATION */
/* *********************************** */
.main-nav-list {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    color: hsl(var(--clr-base-dk));
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: hsl(var(--clr-primary-dk));
}

.nav-cta:link,
.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    background-color: hsl(var(--clr-primary));
    border-radius: 9px;
    color: hsl(var(--clr-ntrl-max));
}

.nav-cta:hover,
.nav-cta:active {
    background-color: hsl(var(--clr-primary-dk));
}

/* *********************************** */
/* Hero */
/* *********************************** */
.section-hero {
    padding: 4.8rem 3.2rem 9.6rem;
    background-color: hsl(27, 83%, 95%);
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9.6rem;
    max-width: 130rem;
    margin: 0 auto;
}

.hero-description {
    margin-bottom: 4.8rem;
    font-size: 2rem;
    line-height: 1.6;
}

.delivered-meals {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.delivered-imgs {
    display: flex;
}

.delivered-imgs img {
    width: 4.8rem;
    aspect-ratio: 1;
    margin-right: -1.6rem;
    border-radius: 50%;
    border: 3px solid hsl(27, 83%, 95%);
}

.delivered-imgs img:last-child {
    margin: 0;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span {
    font-weight: 700;
    color: hsl(var(--clr-primary-dk));
}

/* *********************************** */
/* Featured in */
/* *********************************** */
.section-featured {
    padding: 4.8rem 0 3.2rem;
}

.heading-featured-in {
    margin-bottom: 2.4rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.75px;
    color: hsl(var(--clr-base-lt));
}

.logos {
    display: flex;
    justify-content: space-around;
}

.logos img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}

/* *********************************** */
/* How it works */
/* *********************************** */
.section-how {
    padding: 9.6rem 0;
}

.section-how .grid {
    align-items: center;
}

.step-number {
    margin-bottom: 1.2rem;
    font-size: 9.8rem;
    font-weight: 600;
    color: #ddd;
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.8;
}

.step-img-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-img-box::before,
.step-img-box::after {
    content: "";
    position: absolute;
    z-index: -1;
    display: block;
    aspect-ratio: 1;
    border-radius: 50%;
}

.step-img-box::before {
    width: 60%;
    background-color: hsl(27, 83%, 95%);
}

.step-img-box::after {
    width: 45%;
    background-color: hsl(28, 80%, 90%);
}

.step-img {
    width: 35%;
}

/* *********************************** */
/* Meals */
/* *********************************** */
.section-meals {
    padding: 9.6rem 0;
}

.meal {
    box-shadow: 0 2.4rem 4.8rem hsl(var(--clr-ntrl-min) / 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
}

.meal:hover {
    box-shadow: 0 3.2rem 6.4rem hsl(var(--clr-ntrl-min) / 0.06);
    transform: translateY(-1.2rem);
}

.meal-content {
    padding: 3.2rem 4.8rem 4.8rem;
}

.meal-tags {
    display: flex;
    gap: 0.4rem;
    margin-bottom: 1.2rem;
}

.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(var(--clr-base-dk));
}

.tag--vegetarian {
    background-color: #51cf66;
}

.tag--vegan {
    background-color: #94d82d;
}

.tag--paleo {
    background-color: #ffd43b;
}

.meal-title {
    margin-bottom: 3.2rem;
    font-size: 2rem;
    font-weight: 600;
    color: hsl(var(--clr-base-dk));
}

.meal-attributes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.meal-attribute {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-size: 1.8rem;
}

.meal-icon {
    width: 2.4rem;
    height: 2.4rem;
    color: hsl(var(--clr-primary));
}

.all-recipes {
    text-align: center;
    font-size: 1.8rem;
}

/* *********************************** */
/* Testimonials */
/* *********************************** */
.section-testimonials {
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
    gap: 6.4rem;
    background-color: hsl(27, 83%, 95%);
}

.testimonials-container {
    padding: 6.4rem;
    padding-right: 0;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
    row-gap: 4.8rem;
}

.testimonial-img {
    margin-bottom: 1.2rem;
    width: 6.4rem;
    border-radius: 50%;
}

.testimonial-text {
    margin-bottom: 1.6rem;
    font-size: 1.8rem;
    line-height: 1.8;
}

.testimonial-name {
    font-size: 1.6rem;
    color: hsl(0, 0%, 44%);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
    padding-left: 0;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    transition: all 0.4s;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

/* *********************************** */
/* Pricing */
/* *********************************** */
.section-pricing {
    padding: 9.6rem 0;
}

.pricing-plan {
    width: 100%;
    max-width: 41rem;

    border-radius: 11px;
}

.pricing-plan--starter {
    margin-left: auto;
    padding: 4.6rem;
    border: 2px solid hsl(27, 83%, 95%);
}

.pricing-plan--complete {
    position: relative;
    padding: 4.8rem;
    background-color: hsl(27, 83%, 95%);
    overflow: hidden;
}

.pricing-plan--complete::before {
    content: "Best value";
    position: absolute;
    top: 6%;
    right: -18%;

    padding: 0.8rem 8rem;
    background-color: #ffd43b;

    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;

    transform: rotate(45deg);
}

.plan-header {
    margin-bottom: 4.8rem;
    text-align: center;
}

.plan-name {
    margin-bottom: 3.2rem;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    color: hsl(var(--clr-primary-dk));
}

.plan-price {
    margin-bottom: 1.6rem;
    font-size: 6.2rem;
    font-weight: 600;
    color: hsl(var(--clr-base-dk));
}

.plan-price span {
    margin-right: 0.8rem;
    font-size: 3rem;
    font-weight: 500;
}

.plan-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
}

.plan-sign-up {
    margin-top: 4.8rem;
    text-align: center;
}

.plan-details {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
}

.feature-icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-bottom: 3.2rem;
    padding: 1.6rem;
    background-color: hsl(28, 80%, 95%);
    border-radius: 50%;
    color: hsl(var(--clr-primary-dk));
}

.feature-title {
    margin-bottom: 1.6rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: hsl(var(--clr-base-dk));
}

.feature-text {
    font-size: 1.8rem;
    line-height: 1.8;
}

/* *********************************** */
/* Pricing */
/* *********************************** */
.section-cta {
    padding: 4.8rem 0 12.8rem;
}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: hsl(var(--clr-primary));
    border-radius: 11px;
    box-shadow: 0 2.4rem 4.8rem hsl(var(--clr-ntrl-min) / 0.075);
    background-image: linear-gradient(
        to right bottom,
        hsl(28, 80%, 61%),
        hsl(28, 80%, 52%)
    );
    overflow: hidden;
}

.cta-text-box {
    padding: 4.8rem 6.4rem 6.4rem;
    color: hsl(28, 75%, 15%);
}

.cta .heading-secondary {
    margin-bottom: 3.2rem;
    color: inherit;
}

.cta-text {
    margin-bottom: 4.8rem;
    font-size: 1.8rem;
    line-height: 1.8;
}

.cta-img-box {
    background-image: linear-gradient(
            to right bottom,
            hsl(28 80% 61% / 0.35),
            hsl(28 80% 52% / 0.35)
        ),
        url(../img/eating.jpg);
    background-size: cover;
    background-position: center;
}

.cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.cta-form label {
    display: block;
    margin-bottom: 1.2rem;
    font-weight: 500;
}

.cta-form input,
.cta-form select {
    width: 100%;
    padding: 1.2rem;
    border: none;
    font-size: 1.8rem;
    background-color: hsl(27, 83%, 95%);
    border-radius: 9px;
    box-shadow: 0 1px 2px hsl(var(--clr-ntrl-min) / 0.1);
}

.cta-form input::placeholder {
    color: hsl(0, 0%, 67%);
}

.cta-form *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem hsl(27 83% 95% / 0.5);
}

/* *********************************** */
/* Footer */
/* *********************************** */
.footer {
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    gap: 6.4rem;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    margin-bottom: 3.2rem;
}

.social-icon {
    width: 2.4rem;
    height: 2.4rem;
}

.copyright {
    margin-top: auto;
    font-size: 1.4rem;
    line-height: 1.6;
    color: hsl(0, 0%, 46%);
}

.social-links {
    display: flex;
    gap: 2.4rem;
}

.footer-heading {
    margin-bottom: 4rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.contacts {
    line-height: 1.6;
}

.address {
    margin-bottom: 2.4rem;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
    color: hsl(0, 0%, 46%);
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
    color: hsl(0, 0%, 33%);
}
